.dice-outer {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin-left: 40%;
  margin-top: 10%;
  padding-top: 50px;
  position: relative;
}
h3,
p {
  margin-left: 50px;
}
input {
  position: absolute;
  top: 70px;
  left: 140px;
}
button {
  margin-left: 50px;
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.numbers {
  overflow: auto;
  height: 190px;
  width: 380px;
}
